body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  background-color: #FFE5B4;
}


.hero {
  padding: 3rem 1rem;
  background-color: #FFBF00;
}

.analysis, .metrics {
  padding: 2rem 1rem;
  margin-top: 1rem;
  background-color: #FFE5B4;
  border-radius: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  padding: 0.7rem 1.5rem;
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #357ABD;
}
